
.doa{
    font-family: 'Abhaya Libre ExtraBold';
    color: #393939;
    /* font-style: normal;
    font-weight: 10zz0;
    font-size: 60px;
    line-height: 110px;
    /* or 110% */

    /* letter-spacing: -0.04em; */

    
}


