.h1 {
    position: absolute;
    width: 569px;
    height: 288px;
    right: 545px;
    top:200px;

    font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 96px;
    /* or 110% */

    letter-spacing: -0.04em;

    color: #393939;

    mix-blend-mode: luminosity;
}

.p {
    position: absolute;
    width: 532px;
    height: 100px;
    left: 110px;
    top: 400px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 50px;
    /* or 227% */

    letter-spacing: 0.02em;

    /* Subtitles */

    color: #425466;

    mix-blend-mode: luminosity;
}
